:root {
    --blueChelsea : #0153DF;
    --blueCity : #3F85FF;
    --blackNewcastle : #000000;
  }


.parentFormPasswordProfile {
    width: 50%;
    padding: 1rem;
}

.parentFormPasswordProfile .headerPasswrodChange{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    gap: 1rem;
}

.parentFormPasswordProfile .headerPasswrodChange .ProfileEco{
    width: 90%;
    height: 110px;
    background-image: linear-gradient(90deg, rgb(255,255,255) 0%,transparent 66%),repeating-linear-gradient(45deg, rgba(0,38,106, 0.04) 0px, rgba(0,38,106, 0.04) 1px,transparent 1px, transparent 16px),repeating-linear-gradient(90deg, rgba(0,38,106, 0.04) 0px, rgba(0,38,106, 0.04) 1px,transparent 1px, transparent 16px),repeating-linear-gradient(135deg, rgba(0,38,106, 0.04) 0px, rgba(0,38,106, 0.04) 1px,transparent 1px, transparent 16px),linear-gradient(0deg, rgb(255,255,255),rgb(255,255,255));     
    border-radius: 10px;
    padding: .5rem;
    transition: all .2s ease-in-out;
}

.parentFormPasswordProfile .headerPasswrodChange .ProfileEco img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    position: absolute;
    margin-left: 5rem;
    filter: hue-rotate(220deg) drop-shadow(5px 0 10px rgba(14, 91, 215, 0.445));
    transition: all .2s ease-in-out;
}

.parentFormPasswordProfile .headerPasswrodChange .ProfileEco p {
    color: rgb(68, 68, 68);
    font-size: .7rem;
}

.parentFormPasswordProfile .headerPasswrodChange .ProfileEco:hover {
    transform: scale(1.05);
}

.parentFormPasswordProfile .headerPasswrodChange .ProfileEco:hover img {
    transform: scale(1.2) rotate(5deg);
}

.formChangePassword {
    background-image: linear-gradient(90deg, rgb(255,255,255) 0%,transparent 66%),repeating-linear-gradient(45deg, rgba(0,38,106, 0.04) 0px, rgba(0,38,106, 0.04) 1px,transparent 1px, transparent 16px),repeating-linear-gradient(90deg, rgba(0,38,106, 0.04) 0px, rgba(0,38,106, 0.04) 1px,transparent 1px, transparent 16px),repeating-linear-gradient(135deg, rgba(0,38,106, 0.04) 0px, rgba(0,38,106, 0.04) 1px,transparent 1px, transparent 16px),linear-gradient(0deg, rgb(255,255,255),rgb(255,255,255));     
    padding: 1rem;
    border-radius: 10px;
    margin: auto;
    margin-top: 5rem;
    width: 93%;
}

.formChangePassword form table {
    width: 80%;
    margin: auto;
}

.formChangePassword form table td label {
    display: block;
}

.formChangePassword form table td input {
    background:transparent;
    border: .1rem solid black;
    font-size: 1rem;
    font-weight: 600;
    padding: .4rem;
    border-radius: 5px;
    width: 100%;
}

.formChangePassword button {
    background-color: black;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    padding: .4rem;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.formChangePassword button:hover {
    background-color: rgb(27, 27, 27);
}
.formChangePassword button:active {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.032);
}

.formChangePassword form table td input:focus{
    outline: 0.1rem dashed black;
}